# Python cache
__pycache__/
*.py[cod]
*.log

# Environment
venv/
env/
ENV/
.env

# Database and secret files
*.sqlite3
*.db
*.pkl
*.bak

# Static files collected (okay to ignore, will be regenerated with collectstatic)
staticfiles/

# VSCode and OS files
.vscode/
.DS_Store
Thumbs.db

# Test cache
.pytest_cache/